<a href="https://colab.research.google.com/github/IgorComune/Financial-Markets/blob/main/financial_markets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Installations

In [ ]:
pip install investpy

In [ ]:
pip install yfinance

#Libraries

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

#data retrieving
import investpy
import yfinance as yf

#Data Retrieving

## InvestPy

In [9]:
df = investpy.get_stock_historical_data(stock='AAPL',
                                        country='United States',
                                        from_date='01/01/2019',
                                        to_date='01/01/2020',)
df.head()

             Open   High    Low  Close     Volume Currency
Date
2019-01-02  38.72  39.71  38.56  39.48  148158944      USD
2019-01-03  35.99  36.43  35.50  35.55  365248768      USD
2019-01-04  36.13  37.14  35.95  37.06  234428288      USD
2019-01-07  37.17  37.21  36.48  36.98  219111056      USD
2019-01-08  37.39  37.95  37.13  37.69  164101248      USD

In [8]:
petr4 = investpy.get_stock_historical_data(stock='PETR4',
                                        country='Brazil',
                                        from_date='01/01/2015',
                                        to_date='15/08/2021',
                                        interval='Daily')
df.head()

            Open  High   Low  Close    Volume Currency
Date
2015-01-02  9.58  9.58  8.98   8.98  48211700      BRL
2015-01-05  8.77  8.82  8.23   8.26  73379000      BRL
2015-01-06  8.36  8.47  7.71   7.99  81380800      BRL
2015-01-07  8.21  8.38  8.02   8.32  83759696      BRL
2015-01-08  8.43  9.01  8.38   8.81  81986600      BRL

## Yahoo Finance

In [48]:
petr4 = yf.Ticker('PETR4.SA')
petr4 = petr4.history(interval='60m')
petr4.head()

                                Open       High  ...  Dividends  Stock Splits
Datetime                                         ...
2021-07-21 10:00:00-03:00  26.790001  27.059999  ...        0.0             0
2021-07-21 11:00:00-03:00  27.059999  27.129999  ...        0.0             0
2021-07-21 12:00:00-03:00  26.990000  27.180000  ...        0.0             0
2021-07-21 13:00:00-03:00  27.120001  27.240000  ...        0.0             0
2021-07-21 14:00:00-03:00  27.139999  27.240000  ...        0.0             0

[5 rows x 7 columns]

## The Dataset

In [79]:
#setting the display of rows in the data frames
pd.set_option('display.max_rows', 10)

In [ ]:
#dropping two columns
petr4 = petr4.drop(labels=['Dividends', 'Stock Splits'], axis=1)
petr4.head()

In [80]:
#all the dataset
petr4

                                Open       High        Low      Close    Volume
Datetime
2021-07-21 10:00:00-03:00  26.790001  27.059999  26.590000  27.049999         0
2021-07-21 11:00:00-03:00  27.059999  27.129999  26.820000  26.990000  10544700
2021-07-21 12:00:00-03:00  26.990000  27.180000  26.959999  27.110001   4462900
2021-07-21 13:00:00-03:00  27.120001  27.240000  27.059999  27.150000   3920300
2021-07-21 14:00:00-03:00  27.139999  27.240000  27.059999  27.080000   4399900
...                              ...        ...        ...        ...       ...
2021-08-20 12:00:00-03:00  26.309999  26.450001  26.299999  26.440001   5757200
2021-08-20 13:00:00-03:00  26.450001  26.580000  26.440001  26.559999   6686500
2021-08-20 14:00:00-03:00  26.549999  26.559999  26.309999  26.330000   6301100
2021-08-20 15:00:00-03:00  26.340000  26.430000  26.299999  26.340000   5482800
2021-08-20 16:00:00-03:00  26.350000  26.620001  26.290001  26.600000  25890000

[161 rows x 5 columns]

In [68]:
#checking the index
petr4.index

DatetimeIndex(['2021-07-21 10:00:00-03:00', '2021-07-21 11:00:00-03:00',
               '2021-07-21 12:00:00-03:00', '2021-07-21 13:00:00-03:00',
               '2021-07-21 14:00:00-03:00', '2021-07-21 15:00:00-03:00',
               '2021-07-21 16:00:00-03:00', '2021-07-22 10:00:00-03:00',
               '2021-07-22 11:00:00-03:00', '2021-07-22 12:00:00-03:00',
               ...
               '2021-08-19 14:00:00-03:00', '2021-08-19 15:00:00-03:00',
               '2021-08-19 16:00:00-03:00', '2021-08-20 10:00:00-03:00',
               '2021-08-20 11:00:00-03:00', '2021-08-20 12:00:00-03:00',
               '2021-08-20 13:00:00-03:00', '2021-08-20 14:00:00-03:00',
               '2021-08-20 15:00:00-03:00', '2021-08-20 16:00:00-03:00'],
              dtype='datetime64[ns, America/Sao_Paulo]', name='Datetime', length=161, freq=None)

In [69]:
#checking the datatype of the index
type(petr4.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [71]:
#converting index to string type
index = petr4.index.astype(str)
index

Index(['2021-07-21 10:00:00-03:00', '2021-07-21 11:00:00-03:00',
       '2021-07-21 12:00:00-03:00', '2021-07-21 13:00:00-03:00',
       '2021-07-21 14:00:00-03:00', '2021-07-21 15:00:00-03:00',
       '2021-07-21 16:00:00-03:00', '2021-07-22 10:00:00-03:00',
       '2021-07-22 11:00:00-03:00', '2021-07-22 12:00:00-03:00',
       ...
       '2021-08-19 14:00:00-03:00', '2021-08-19 15:00:00-03:00',
       '2021-08-19 16:00:00-03:00', '2021-08-20 10:00:00-03:00',
       '2021-08-20 11:00:00-03:00', '2021-08-20 12:00:00-03:00',
       '2021-08-20 13:00:00-03:00', '2021-08-20 14:00:00-03:00',
       '2021-08-20 15:00:00-03:00', '2021-08-20 16:00:00-03:00'],
      dtype='object', name='Datetime', length=161)

In [114]:
#selecting the length
print(index[0][:10])
print(index[0][11:13])

2021-07-21
10

In [115]:
#creating the new index
date = []
hour = []

#slicing the string and appending it to the date and hour list
for line in index:
  date.append(line[:10])
  hour.append(line[11:13])

In [119]:
#both are returning strings
print(type(date[0]))
print(type(hour[0]))

<class 'str'>
<class 'str'>

In [120]:
#reseting index
petr4 = petr4.reset_index()

# dropping index
petr4 = petr4.drop('Datetime', axis=1)
petr4.head()

        Open       High        Low      Close    Volume
0  26.790001  27.059999  26.590000  27.049999         0
1  27.059999  27.129999  26.820000  26.990000  10544700
2  26.990000  27.180000  26.959999  27.110001   4462900
3  27.120001  27.240000  27.059999  27.150000   3920300
4  27.139999  27.240000  27.059999  27.080000   4399900

In [126]:
#creating a data frame, renaming and converting it to pandas timestamp
new_index = pd.DataFrame(date, hour)
new_index = new_index.reset_index()
new_index = new_index.rename(columns={'index':'hour', 0:'date'})
new_index.head()

  hour        date
0   10  2021-07-21
1   11  2021-07-21
2   12  2021-07-21
3   13  2021-07-21
4   14  2021-07-21

In [130]:
#joing and setting Datetime as index
petr4 = petr4.join(new_index,lsuffix='_')
petr4 = petr4.set_index('date')
petr4.head()

                 Open       High        Low  ...  hour_       date_ hour
date                                         ...
2021-07-21  26.790001  27.059999  26.590000  ...     10  2021-07-21   10
2021-07-21  27.059999  27.129999  26.820000  ...     11  2021-07-21   11
2021-07-21  26.990000  27.180000  26.959999  ...     12  2021-07-21   12
2021-07-21  27.120001  27.240000  27.059999  ...     13  2021-07-21   13
2021-07-21  27.139999  27.240000  27.059999  ...     14  2021-07-21   14

[5 rows x 8 columns]